[Unit]
Description=run deltachat team-bot: {{ bot_email }}

[Service]
ExecStart=/home/{{ unix_user }}/.local/lib/team-bot.venv/bin/team-bot -v
EnvironmentFile=/home/{{ unix_user }}/.env
Environment="PATH=/home/{{ unix_user }}/.local/lib/team-bot.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
