[Unit]
Description=run deltachat teams-bot: {{ bot_email }}

[Service]
ExecStart=/home/{{ unix_user }}/.venv/bin/teams-bot run -v
EnvironmentFile=/home/{{ unix_user }}/.env
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
